/* 
    Colors
    Yellow: #FFBE00
    Navy: #192B37
 */
/* CSS Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* temporary styles for structural html */

section{
    padding: 0.5rem;
    border: 1px solid rgb(225,225,225);
}

body{
    border: none; 
    font-family: 'catamaran', sans-serif;
    color: #192B37;
}
html{
    border: none;
}
/* ------------------------------------------Universal style and utility classes--------------------------------------------------- */
/* padding utility classes */
.padded {padding: 5%;}
.padded-sm {padding: 1rem;}
.padded-lg {padding: 10%;}

.padded-05 {padding:0.5rem;}
.padded-1 {padding: 1rem;}
.padded-2 {padding: 2rem;}

.padded-t {padding-top: 5%;}
.padded-b {padding-bottom: 5%;}
.padded-l {padding-left: 5%;}
.padded-r {padding-right: 5%;}

.padded-tb {padding-top: 5%; padding-bottom: 5%;}
.padded-lr {padding-left: 5%; padding-right: 5%;}

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-bottom: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-bottom: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-bottom: 0; }

/* Margin Utility Classes */ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }


/* Minimum height */
.tall-50 {min-height: 50vh;}
.tall-60 {min-height: 60vh;}
.tall-70 {min-height: 70vh;}
.tall-80 {min-height: 80vh;}
.tall-90 {min-height: 90vh;}
.tall-100 {min-height: 100vh;}


/* background and images */
.bg-dark{
    background-color: #192B37;
    color: white;}
.bg-featured {background-color: #f4b525;}
.bg-light {background-color: #E3ECF2;}


/* image styles */
.bg-image{
    background-image: url('/images/sincerely-media-oPJveyQEjKY-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat
    min-height: 10rem;
}
.landscape {padding-bottom: 65%;}
.portrait {padding-bottom: 125%;}
.square {padding-bottom: 100%;}
 
/* background-images */
 .bg-pug{
    background-image: url('/images/charles-deluvio-S2AcayPkszE-unsplash.jpg');
    background-position: 50% 35%;
    }
.bg-bed{
    background-image: url('/images/rhema-kallianpur-uocSnWMhnAs-unsplash.jpg');
    background-position: center;
    }
.bg-pillow{
    background-image: url('/images/jude-infantini-gRZmKaFUpBM-unsplash.jpg');
    background-position: 50% 58%;
    }

/* typography styles */
.text-left    { text-align: left; }
.text-right   { text-align: right; }
.text-center  { text-align: center; }

body {
    font-family: "caramaran", sans-serif;  /* Add your font here */ 
    color: #192B37;
}

h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: 1.2rem;
}

h2 {font-size: 1.5rem;}
h3 {line-height: 1;}

p {
  line-height: 1.4; 
  margin-bottom: 1rem;
}

h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child, 
p:last-child {
	margin-bottom: 0;
}
a{
    color: inherit;
}
nav{
    display: inline-block;
}
a:hover{
    color: #FFBE00;
}

.featured-text{
    color: #FFBE00;
}
.white-text{
    color: white;
}
.small-text{
    font-size: 1.5rem;
}
.medium-text{
    font-size: 2.2rem;
    line-height: 1.1;
}
.big-text{
    font-size: 4rem;
}
p.emphasis{
    font-size: 
}
.subtitle{
    font-size: 1.2rem;
    color: rgb(120,120,125);
}
.quote-icon{
    font-size: 6rem;
    display: inline-block;
    color: rgb(120,120,125);
    line-height: 1;
}
.font-weight-light{
    font-weight: 200;
}
.font-weight-normal{
    font-weight: 400;
}
.font-weight-extra-bold{
    font-weight: 800;
}

/* header and footer styles */
header{
    background-image: url('/images/sincerely-media-oPJveyQEjKY-unsplash.jpg');
    background-size: cover;
    background-position: center;
    padding: 1% 5%;
}
header h3{
    font-size: 5.5rem;
    line-height: 1;
}
footer a{
    border: none;
}


/* icon grid */
.fas{
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

/* buttons and forms */
input,
textarea{
    width:100%;
    display: block;
}