<footer class="padded grid-spaceBetween bg-dark">
    <div class="col-4-bottom">
        <h2>Let's 
            <br />
            <span class="featured-text">connect</span></h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa esse possimus nulla officia molestias ad nostrum explicabo dolorum aliquid est atque architecto repudiandae, cupiditate nobis quod ipsum itaque exercitationem voluptatibus.</p>
    </div>
    <div class="col-6-bottom">
        <p> <strong>call:</strong> <a href="tel:#"> 816-555-5555 </a> </p>
        <p><strong>email:</strong> <a href="mailto:#"> hello@thesleepco.com </a></p>
        <p><strong>store:</strong> 555 Main street Chicago</p>
        <p><strong>instagram:</strong> <a href="#"> @thesleepco</a> </p>
    </div>
</footer>