      <!-- viewport mets for responsive -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>The Sleep Co</title>
      <!-- This is our grid stylesheet -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css" />
      <!-- this is our fontawesome icons -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <!-- This is our google fonts - Catamaran 200, 400, 500, 800-->
      <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;500;800&display=swap" rel="stylesheet" />
  
      <!-- animate on scroll -->
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  
      <!-- Lightgallery for popups -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/css/lightgallery-bundle.min.css" integrity="sha512-7xAjdVc23n18sYEAZKa79271IRUS1XzylIyJ8feyXvjrbbr4oId92993EiGTAP63Ob6KplRnmbNmBOg6bpLjYw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
      <!-- This is our CSS style sheet link and it always goes last -->
      <link rel="stylesheet" href="style.css" />